{% extends "main.twig" %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="navbar-form navbar-left" role="search">
                            <h2>Buscar trabajo</h2>
                            <h>Palabra clave</h>
                            <br> </br>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar">
                            </div>
                            <button type="submit" class="btn btn-default">Buscar Ofeta</button>
                        </form>
                    </div></div></div>
            <br> </br>
            <!--left-->
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for OfertaLaboral in OfertaLaboral %}
                                <tr>
                                    <td>{{ Ofer.id }}</td>
                                    <td>{{ Ofer.fechapublicacion }}</td>
                                    <td>{{ Ofer.Descripcion }}</td>
                                    <td>{{ Ofer.requisitos }}</td>
                                    <td>{{ Ofer.ubicacion }}</td>
                                    <td>{{ Ofer.beneficios }}</td>
                                    <td>{{ Ofer.visibilidad }}</td>
                                </tr>
                            {% endfor %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <h id="Anio1"> Titulo de </h>
                                    <p id="Mes1" name="Mes1" value='asdad'></p>
                                    <p id="Dia1" name="Dia1"></p>
                                    <a href="OfertaDesplegada.php?Mes=<?php echo $Mes1;?>&dia=<?php  echo $Dia1;?>&Anio=<?php  echo $Anio1;?>&Descrip=<?php  echo $Descrip1;?>&Bene=<?php  echo $Bene1;?>&Ubi=<?php  echo $Ubi1;?>&Reque=<?php  echo  $Requi1;?>">Ver Oferta laboral</a>
                                </div>
                            </div>
                            <?php
  }
}else{
?>
                            <p>No se han encontrado Ofertas en la base de datos</p>
                            <?php
}
?>

                        </div><!--/center-->
                    </div>
                </div>
            </div>

        </div><!-- /container -->

    </div>
{% endblock %}
