<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Fundación Damas Colombianas{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/bootstrap-social-gh-pages\bootstrap-social.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/bootstrap-social-gh-pages\bootstrap-social.less" rel="stylesheet">
    <!--[if lt IE 9]>

    <!-- link botones sociales el link y el script -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <style type="text/css">

        @media (max-width: 767px){
            .carousel .row .span3 {
                display: block;
                float: left;
                width: 25%;
                margin-left: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
        body
        {
           background-repeat: no-repeat;
            background-attachment: fixed
        }
        .navbar-static-top {
            margin-bottom:20px;
        }
        i {
            font-size:16px;
        }
        .nav > li > a {
            color:#787878;
        }

        footer {
            position:absolute;
            width:100%;
            margin-top:20px;
            padding-top:20px;
            padding-bottom:20px;
            background-color:#efefef;
        }
        #footer
        { position: fixed; margin-top: -50px;
          height: 50px; clear: both; background: #286af0; text-align: center; color: #FFFFFF; }


    </style>
    <script src="{{ app.request.basepath }}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body background="{{ app.request.basepath }}/images/bg-11-full.jpg" >

<!-- Header -->

<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo-nav" href="{{ app.url_generator.generate('inicio') }}">
                <img  border="0" height="90" width="200" src="{{ app.request.basepath }}/images/logo1.png">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Inicio</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% block contentbarra %}{% endblock %}

                {% if app.session.get('user') is null %}
                <li class="dropdown" id="menuLogin">
                    <a class="glyphicon glyphicon-log-in"  class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin" > Login </a>
                    <div class="dropdown-menu" style="padding:17px;">
                        <form  id="form2" name="form2" action="{{ app.url_generator.generate('login1') }}" method="post">
                            <fieldset>
                                <input name="username" id="username" type="text" placeholder="Correo electronico">
                                <input name="password" id="password" type="password" placeholder="Password"><br>
                                <button   type="submit" name="login" id="login" value="login" class="btn btn-primary" class="glyphicon glyphicon-log-in" > Iniciar Sesion</button>
                                <a href="{{ app.url_generator.generate('registrodeusuario') }}">Registrarse</a><br>
                                <a href="{{ app.url_generator.generate('reenviarcontrasenia') }}">Olvido Contraseña?</a><br>
                            </fieldset>
                        </form>
                    </div>
                </li>
                {% elseif  (app.session.get('user').username=="useradmin1" )  or (app.session.get('user').username=="useradmin2") %}

                           <li class="dropdown" id="menuLogin">
                               <a class="glyphicon glyphicon-user" class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"> {{ app.session.get('user').username }}</a>
                               <div class="dropdown-menu" style="padding:17px;">
                                   <form  id="form3" name="form3" action="{{ app.url_generator.generate('ingresarofertalaboral') }}" method="post">
                                   <div>
                                   <button type="submit" name="loginout"  id="loginout" value="entrada" class="btn btn-primary"  href="{{ app.url_generator.generate('ingresarofertalaboral') }}">Perfil de Administrador</button>
                                   </div>
                                   </form>
                                   <br>
                                   <form  id="form3" name="form3" action="{{ app.url_generator.generate('cerrar') }}" method="post">
                                   <div>
                                   <button type="submit" name="loginout" id="loginout" value="loginout" class="btn btn-danger">Cerrar sesion</button>
                                   </div>
                                   </form>
                               </div>
                           </li>
               {% else %}
                <li class="dropdown" id="menuLogin">
                    <a class="glyphicon glyphicon-user" class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"> {{ app.session.get('user').username }}</a>
                    <div class="dropdown-menu" style="padding:17px;">
                        <form  id="form3" name="form3" action="{{ app.url_generator.generate('buscaperfilo', {'id': app.session.get('id').id  }) }}" method="post">
                                <div>
                                <button type="submit" name="loginout" id="loginout" value="entrada" class="btn btn-primary">Perfil de usuario</button>
                                </div>
                        </form>
                             <br>
                        <form  id="form3" name="form3" action="{{ app.url_generator.generate('cerrar') }}" method="post">
                                <div>
                                <button type="submit" name="loginout" id="loginout" value="loginout" class="btn btn-danger">Cerrar sesion</button>
                                </div>
                        </form>
                    </div>

                </li>
                {% endif %}
            </ul>
                <a href="https://www.facebook.com/fdcchile" class="nbs-social-facebook"></a>
                <a href="https://twitter.com/adc_chile" class="nbs-social-twitter"></a>

            </ul>

        </div>
    </div><!-- /container -->
</div>
<!-- /Header -->



<div class="container">
    {% block content %}{% endblock %}
    <hr>
</div> <!-- /container -->


<footer style=" background-color:#000000;clear:both;text-align:center">
<p><a>Fundación Damas Colombianas</a></p>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ app.request.basepath }}/web/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{ app.request.basepath }}/web/js/vendor/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/web/js/main.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>
<script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>




<!-- Google Analytics -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21422990-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<!-- Carrousel -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#myCarousel").carousel();
    });
</script>


<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myCarousel").carousel();
    });
</script>



</body>
</html>
