{% extends "layout.twig" %}

{% block content %}
                 {% for ofertalaboral in ofertalaboral %}
                                    <td>{{ ofertalaboral.id }}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.fechapublicacion|date('Y-m-d')}}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.Descripcion }}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.requisitos }}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.ubicacion }}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.beneficios }}</td>
                                    <BR>
                                    <td>{{ ofertalaboral.visibilidad }}</td>
                                    <BR>
                 {% endfor%}
{% endblock %}
