{% extends "layout.twig" %}

 {% block contentbarra %}

     <li><a class="glyphicon glyphicon-home" href="{{ app.url_generator.generate('inicio') }}">Inicio</a></li>
     <li><a class="glyphicon glyphicon-book" href="{{ app.url_generator.generate('nosotros') }}">Nosotros</a></li>
     <li><a class="glyphicon glyphicon-lock" href="{{ app.url_generator.generate('ofertalaboral') }}">Bolsa de empleos</a></li>
     <li><a class="glyphicon glyphicon-lock" href="{{ app.url_generator.generate('publicaoferta') }}">Oportunidad laboral</a></li>
     <li><a class="glyphicon glyphicon-camera"  href="{{ app.url_generator.generate('eventos1') }}">Eventos</a></li>
     <li><a class="glyphicon glyphicon-pencil" href="{{ app.url_generator.generate('informaciones') }}">Agenda anual</a></li>


 {% endblock %}

{% block content %}

    <br> </br>
    <br> </br>
    <br> </br>

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="{{ app.url_generator.generate('reenviarcontra') }}" method="post">
                        <fieldset>
                        <!-- Form Name -->
                            <legend>Recuperar contraseña</legend>
                            <!-- Text input-->
                            <div class="control-group">
                                <label>Enviar copia de clave a su correo electronico registrado en la pagina</label>
                                <label class="control-label" for="textinput">Ingrese su correo</label>
                                <div class="controls">
                                    <input id="correo" name="correo" type="text" placeholder="@" class="input-xlarge" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="singlebutton"></label>
                                <div class="controls">
                                    <button id="Enviar" name="Enviar" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div><!-- /container -->

    <!-- Main -->
    <br> </br>
    <br> </br>
    <br> </br>
    <br> </br>
    <br> </br>
    <br> </br>

    </div>
{% endblock %}
